#game-board {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.dot {
    position: absolute;
    height: 20px;
    width: 20px;
    background: black;
}

.food {
    position: absolute;
    height: 20px;
    width: 20px;
    background: red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, gray, black);
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
}

#game-board {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto; /* center the game board */
}

#score {
    display: block;
    margin-top: 20px;
}
